matplotlib
wget
requests
google
pymongo
pytube
click
Pillow
scikit-learn
flask
numpy
opencv-python
jsonpickle
dlib
imutils
face_recognition
argparse
tensorflow
pytesseract
Google-Images-Search
google-cloud-storage
google-api-python-client
nltk
oauth2client
imagecleaner
google.cloud
ipython